.header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.header__left {
  flex: 0.6;
  min-width: 80px;
  display: flex;
  background-color:white;
  color: #272729;
  border-radius: 30px;
  padding: 10px;
  display: flex;
  align-items: center;

}

.header__left > input {
  border: none;
  width: 100%;
}

.header__right > h4 {
  margin-left: 10px;
}