.sidebarOption {
  display: flex;
  align-items: center;
  color: #272729;
  height: 40px;
  cursor: pointer;
  transition: 200ms color ease-in;
}

.sidebarOption:hover {
  color: white;
  background-color: #15111E;
  border-radius: 15px;
}

.sidebarOption_icon {
  padding-left: 20px;
  padding-right: 20px;
}

