.sidebar {
  height: 100vh;
  flex: 0.2;
  color: #272729;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 230px;
  height: 100vh;
  background-color: white;
}

.sidebar_logo{
  margin-right: auto;
  height: 70px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 10px;
  align-items: center;
  color: rgb(255, 178, 64);
}

.sidebar_logo::after{
  content: "Music";
  color: black;
  }

sidebarOption{
  text-align: center;
}

.sidebar_section1{
  text-align: justify;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 20px;
  opacity: .8;
}